# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List commonly used tools for Data Science
* basic math in python

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Julia </li>
    <li> Python </li>
    <li> R </li>
<ol/>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>  Scikit-learn  </li>
    <li> IBM  DAX </li>
    <li> TensorFlow </li>
<ol/>


| Data Science Tools |
| :-: |
| Juypterlab |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
def conversion_m_to_h(t):
    return t/60.
print(conversion_m_to_h(200), ' hours')

3.3333333333333335  hours

## Author  
Thomas Peterson